@import '../bower_components/normalize.scss/normalize';

header
{
    margin-bottom: 20px;
    #menu
    {
        .menu-item
        {
            margin: 2px 0;

            background: #ccc;
        }
    }
}

section
{
    box-sizing: border-box;
    padding: 0 40px;

    border-bottom: 1px solid #ccc;
    .load-more
    {
        font-size: 14px;

        color: #fff;
        background: #4285f4;
    }
    .error
    {
        display: none;

        color: #e42323;
    }
    .interlocutor
    {
        display: none;
    }
    ul
    {
        max-width: 450px;
        margin: 10px 0;
        padding: 0;

        list-style-type: none;
        &.public-messages
        {
            .message-author
            {
                font-weight: bold;

                display: inline-block;

                width: 200px;

                text-decoration: none;

                color: #000;
            }
            .message-author:hover
            {
                text-decoration: underline;
            }
            .date
            {
                display: inline-block;
            }
        }
        li
        {
            display: inline-block;

            padding: 0;
        }
    }
}

footer
{
    padding: 0 40px;
    .send-message
    {
        font-size: 14px;

        color: #fff;
        background: #3f51b5;
    }
}

.locations
{
    header
    {
        margin-bottom: 0;
    }
    #users-map
    {
        width: 100%;
        height: 400px;
    }
}
