@import '../bower_components/normalize.scss/normalize';

body
{
    background: #e4e4e4;
}

header
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    margin-bottom: 20px;
    #menu
    {
        .menu-item
        {
            margin: 2px 0;

            background: #ccc;
        }
    }
    .refresh
    {
        color: #000;
    }
}

section
{
    position: absolute;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .load-more
    {
        font-size: 14px;

        color: #fff;
        background: #4285f4;
    }
    .error
    {
        display: none;

        color: #e42323;
    }
    .interlocutor
    {
        display: none;
    }
    > div
    {
        position: absolute;
        top: 64px;
        bottom: 113px;

        overflow: auto;

        width: 100%;
        ul
        {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 0;

            list-style-type: none;
            .message-author
            {
                font-weight: bold;

                display: inline-block;

                width: 200px;

                text-decoration: none;

                color: #000;
            }
            .message-author:hover
            {
                text-decoration: underline;
            }
            .date
            {
                display: inline-block;
            }
            li
            {
                display: block;

                padding: 0;
            }
        }
    }
    .change
    {
        font-size: 14px;

        color: #fff;
        background: #3f51b5;
    }
}


.private-messages
{
    .refresh
    {
        display: none;
    }
    section ul
    {
        width: 100%;
        max-width: none;
        li
        {
            display: block;
            clear: both;
            overflow: hidden;
            &.my
            {
                span
                {
                    float: left;
                }
            }
            span
            {
                display: inline-block;
                float: right;

                margin: 5px;
                padding: 5px;

                border-radius: 4px;
                background: #fff;
            }
        }
    }
}

.dialogs
{
    .refresh
    {
        display: block;
    }
    ul
    {
        width: 100%;
        padding-bottom: 0;
    }
    footer
    {
        display: none;
    }
}

.user section
{
    padding-top: 74px;
}

footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-bottom: 10px;

    background: #fff;
    .send-message
    {
        font-size: 14px;

        color: #fff;
        background: #3f51b5;
    }
}

.locations
{
    box-sizing: border-box;
    padding-top: 64px;
    header
    {
        margin-bottom: 0;
    }
    #users-map
    {
        width: 100%;
        height: 100%;
    }
    .info-window-content
    {
        white-space: nowrap;
    }
}

.locations-html
{
    &,
    body
    {
        height: 100%;
    }
}
